<img src="../../assets/slider1.jpg">
<section class="bg-image">

  <div class="container">
<!-- <marquee><img src="../../assets/slide3.webp" /></marquee> -->
   
    <nav>
      <h1>Hack-a-sity</h1>
    </nav>

  </div>
      
    
    
    <div class="sliding-background">
      <div class="article">
        <h1>Welcome to Tshwane Varsity Hackathon</h1>
  
      </div>
      <div class="sliding-images">
        <div class="sliding-image"></div>
        <div class="sliding-image"></div>
        <div class="sliding-image"></div>
        <div class="sliding-image"></div>
        <div class="sliding-image"></div>
        
      </div>
    </div>
    
  
</section>
  
<div class="container1">
  <h2>Login</h2>
  
   
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="role" id="hacker" value="hacker" [(ngModel)]="role" name="role" >
        <label class="form-check-label" for="hacker">Hacker</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="role" id="admin" value="admin" [(ngModel)]="role" name="role">
        <label class="form-check-label" for="admin">Admin</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="role" id="judges" value="judges" [(ngModel)]="role" name="role">
        <label class="form-check-label" for="judges">Judges</label>
      </div>
      <div class="form-group">
        <label for="email">Username:</label>
        <input type="text" class="form-control" id="email" name="email" required [(ngModel)]="loginPage.email" name="loginPage.email">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" required [(ngModel)]="loginPage.password" name="loginPage.password">
      </div>
    </div>
    <button (click)=" button()" type="submit" class="btn btn-primary">Login</button><br>
    <a href="index.html">forgot password?</a>
   

  <!-- <script>
    const navigationButtons = document.querySelectorAll('.navigation-button');
    const slidingImages = document.querySelector('.sliding-images');

    function changeSlide(index) {
      const percentage = index * -20;
      slidingImages.style.transform = `translateX(${percentage}%)`;

      // Update active navigation button
      navigationButtons.forEach((button, i) => {
        if (i === index) {
          button.classList.add('active');
        } else {
          button.classList.remove('active');
        }
      });
    }
  </script> -->
<!-- 
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
    <label class="form-check-label" for="inlineRadio1">1</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
    <label class="form-check-label" for="inlineRadio2">2</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
    <label class="form-check-label" for="inlineRadio3">3 </label>
  </div> -->
    

    


