<app-navbar></app-navbar>
<app-sidenavhacker></app-sidenavhacker>

<div class="rectangle-5">
    <h2 class="timeslot">Hackers Time-slot</h2>
  </div>

<div class="frame">
<table id="display">
    <thead>
        <th>Name of group</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Date</th>
    </thead>
    <tbody>
        <tr *ngFor="let hacker of table">
            <td>{{hacker.group_name}}</td>
            <td>{{hacker.start_time}}</td>
            <td>{{hacker.end_time}}</td>
            <td>{{hacker.date}}</td>
        </tr>
    </tbody>
</table>
</div>