.rectangle-5 {
  height: 40px;
  width: 1910px;
  background-color: #c7c283;
}

.timeslot{
  text-align: center;
  padding: 7px;
}
  table {
    border-collapse: collapse;
  }
  th, td {
    padding: 50px;
    text-align: center;
  }

  #display {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin-left: 20%;
    margin-top: 50px;
  }
  
  #display td, #customers th {
    border: 1px solid rgb(151, 140, 140);
    padding: 8px;
  }
  
  #display tr:nth-child(even){background-color: #f2f2f2;}
  
  #display tr:hover {
    background-color: #ddd;}
  
  #display th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f55f5f;
    color: rgb(17, 16, 16);
    border: 1px solid rgb(12, 11, 11);
  }

 
  