<app-navbar></app-navbar>
<app-judgesidenav></app-judgesidenav>

<div class="rectangle-5">
  <h2 class="timeslot">Scoreboard</h2>
</div>
<section class="container">
    <div class="img"><img src=""></div>
    <div class="grp-name">
      <!-- <p class="chose-label"> Choose A Team </p> -->
      <select class="drp-down" [(ngModel)]="score.group_name" >
    <option value="#">Choose Team</option>  
         <option value="{{d.team}}"  *ngFor= "let d of selectedGroup" >{{d.team}}</option>
       </select>
    </div>                                                                                        
    <table > 
      <thead>
        <tr>
          <th>Novelity 15%</th>
          <th>Usefulness 20%</th>
          <th>Feasibility 15%</th>
          <th>Technical proficiency 15%</th>
          <th>Impact 25%</th>
          <th>Safety 10%</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="number" name="NovelityScore" [(ngModel)]="noverlity" (change)="getNovScore($event)"  class="txt-input" required> </td>
          <td><input type="number" name="UsefulScore"  [(ngModel)]="usefulness" (change)="getUsefulnesScore($event)"  class="txt-input" required></td>
          <td><input type="number" name="FeasibilityScore" [(ngModel)]="Feasib" (change)="getFeasibilityScore($event)"  class="txt-input"required></td>
          <td><input type="number" name="TechScore" [(ngModel)]="tech" (change)="getTechScore($event)" class="txt-input" required></td>
          <td><input type="number" name="impactScore"  [(ngModel)]="impactScore" (change)="getImactScore($event)" class="txt-input"required></td> 
          <td><input type="number" name="SafetyScore" [(ngModel)]="Safety" (change)="getSafetyScore($event)" class="txt-input"required></td>
         
        </tr>
      </tbody>
      <div class="score-container" >
        <label class="score-txt">Final Score</label>
        <input type="text" id="finalScore" class="scores" name="points" value="{{totalPoints}}" [(ngModel)]="score.points" readonly>
        <label class="total-score">%</label>
      </div>

      <div class="optional">
        <label class="label-txt">Reasons(optional)</label>
        <input type="text" name="input6" class="optional-txt">
        <button type="submit" (click)="groupPoints()">Submit</button>
      </div>
    </table>
  </section>