<app-sidenavhacker></app-sidenavhacker>
<div class="line-2"></div>

<div class="frame-5">
  <div class="upload-container">
       <p class="text-1">Files</p>
    <!-- <p class="text-2">Recordings</p> -->
  </div>
 
    <div class="upload-container">
      <input type="file" id="fileInput" (change)="onFileSelected($event)" >
      <label for="fileInput" class="upload-button">Upload File</label>
      <span>{{ selectedFile?.name }}</span>

      <!-- <a href="filename" download>Download PDF</a> -->
    </div>
</div>




<div class="frame">
  <table id="customers">
    <thead>
      
      <th scope ="col">Name </th>
      <th scope ="col">Date Modified </th>
      <th scope ="col"> Size </th>
      <th scope ="col">Type </th>
    </thead>
    <tbody>
      <tr>
      <td>{{filename}}</td>
       <td>{{time}}</td>
      <td>{{size}}</td>
      <td>{{format}}</td>
    </tr>
     
    </tbody>
  </table>
  
</div>

