<app-navbar></app-navbar>
<app-judgesidenav></app-judgesidenav>
<div class="rectangle-5">
   <h2 class="timeslot">Judges Time-Slot</h2>
</div>
<div class="frame">
    <table id="display">
        <thead>
            <th>Judge(s) names</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Date</th>
        </thead>
        <tbody>
            <tr *ngFor="let hacker of table">
                <td>{{hacker.judge_name}}</td>
                <td>{{hacker.start_time}}</td>
                <td>{{hacker.end_time}}</td>
                <td>{{hacker.date}}</td>
            </tr>
        </tbody>
    </table>
    </div>