form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3%;
    margin-top: -79%;
    font-family: Arial, sans-serif;
    
  }
  .input {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 50%;
  }
  label {
    font-weight: bold;
    margin-left: -500%;
  }
  input {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgb(112, 109, 109);
    font-size: 16px;
    background-color: #D9D9D9;
    
  }
  input:focus {
    outline: none;
    border-color: #0077CC;
    
  }
   .input-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -42.5%;
    display: inline-block;
    justify-content: space-between ;
    padding: 1%;
    padding-left: 34%;
  }
  .input-row input[type="text"],
  .input-row select {
    flex: 1 0 auto;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid rgb(83, 79, 79);
    border-radius: 5px;
    font-size: 16px;
    color: rgb(92, 91, 91);
    max-width: 20%;
    text-align: center;
    background-color: #D9D9D9;
    margin: 0 150px;
    
  }
  .input-row select::-ms-expand {
    display: none;
    
  }
    .text-3 {
      text-align: left;
      vertical-align: top;
      font-size: 28;
      font-family: Inter;
      line-height: auto;
      color: #000000;
      margin-left: 85%;
      margin-top: -270px;
    }  
    select{
      margin: 0 250px;
    }
  
    select, option{
     width: 350px;
    }
    .opt{
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 10px;
      border: 1px solid lightgrey;
    }
  
    select{
      border: none;
    }

    .text-1{
      text-align: left;
      vertical-align: top;
      font-size: 20px;
      font-family: Inter;
      line-height: auto;
      color: #000000;
      margin-left: -1100px;
      margin-top:-13.8%;
    

    }
    .text-2 {
      text-align: left;
      vertical-align: top;
      font-size: 20px;
      font-family: Inter;
      line-height: auto;
      color: #000000;
      margin-left: -1110px;
      margin-top: 4%;
    }

    .text-3 {
      text-align: left;
      vertical-align: top;
      font-size: 20px;
      font-family: Inter;
      line-height: auto;
      color: #000000;
      margin-left: -1080px;
      margin-top: 4%;
    }
    .group-2-5 {
      height: 59px;
      width: 250px;
      
    }
    .rectangle-1-4-8 {
      border-radius: 20px;
      height: 49px;
      width: 130px;
      background-color: #e6b012;
      margin-top: 100px;
    }
    .text-4{
      margin-top: -35px;
      margin-left: 40px;
      font-size: 20px;
      font-weight: bold;
    }

    .text-5{
      text-align: center;
      vertical-align: top;
      font-size: 24px;
      font-family: Inter;
      line-height: auto;
      color: #000000;
      margin-top: -120px;
      margin-left: -250px;
      font-weight: bold;
    }
    
  .button {
    height: 59px;
    width: 250px;
    border-radius: 20px;
    height: 49px;
    width: 130px;
    background-color: #e6b012;
    margin-top: 150px;
    margin-left: -250px;
  }