 <app-sidenavhacker></app-sidenavhacker>
 <!-- <button class="join-button">Join</button>
<div class="line-3-6"> </div>
    <p class="text-1">The TVH  Experience</p>
    <div class="back-btn">
        <div class="rectangle-8-9">
        <p class="text-2">Back</p>
      </div>  -->
      <!-- <img src="/../../hackasity/hackasity-front/src/assets/Screenshot (9).png"> -->

      <video #videoElement></video>

      <button (click)="startScreenSharing()">Start Screen Sharing</button>
      <button (click)="stopScreenSharing()">Stop Screen Sharing</button>
      