<!------<div class="side-nav">
    <a href="#">What's on?</a>
    <a href="#">Report</a>
    <a href="#">Virtual presentaton</a>
 </div>
 <i class="bi bi-heart-fill"></i>---------->
<div class="side-nav">

   <a (click)="navigateToWhatsOn()">
      <svg width="40px" margin-left="50px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#000000">
         <g id="SVGRepo_bgCarrier" stroke-width="0">
         </g>
         <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
         </g>
         <g id="SVGRepo_iconCarrier">
            <title>

            </title>
            <g id="Complete">
               <g id="bell">
                  <g>
                     <path d="M18.9,11.2s0-8.7-6.9-8.7-6.9,8.7-6.9,8.7v3.9L2.5,
            17.5h19l-2.6-2.4Z" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2">
                     </path>
                     <path d="M14.4,20.5s-.5,1-2.5,1-2.5-1-2.5-1" fill="none" stroke="#000000" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="2">
                     </path>
                  </g>
               </g>
            </g>
         </g>
      </svg>

      <p>What's on?</p>
   </a>

   <!-- <a  routerLink="files" > -->
   <a (click)="navigateToFiles()">
      <svg width="40px" margin-left="50px" fill="#000000" viewBox="0 0 32 32" version="1.1"
         xmlns="http://www.w3.org/2000/svg">
         <g id="SVGRepo_bgCarrier" stroke-width="0">
         </g>
         <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
         </g>
         <g id="SVGRepo_iconCarrier">
            <title>Register users</title>
            <path d="M4 30.016q0 0.832 0.576 1.408t1.44 0.576h20q0.8 0 
            1.408-0.576t0.576-1.408v-22.016l-8-8h-13.984q-0.832 0-1.44 0.608t-0.576 
            1.408v28zM8 28v-24h10.016v6.016h5.984v17.984h-16z">

            </path>
         </g>
      </svg>
      <span>Register users</span>
   </a>

   <!-- <a  routerLink="timeslots" > -->
   <a (click)="navigateSlot()">
      <svg width="40px" margin-left="50px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
         <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
         <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
         <g id="SVGRepo_iconCarrier">
            <g id="Calendar / Calendar_Check">
               <path id="Vector"
                  d="M4 8H20M4 8V16.8002C4 17.9203 4 18.4801 4.21799 18.9079C4.40973 19.2842 4.71547 19.5905 5.0918 19.7822C5.5192 20 6.07899 20 7.19691 20H16.8031C17.921 20 18.48 20 18.9074 19.7822C19.2837 19.5905 19.5905 19.2842 19.7822 18.9079C20 18.4805 20 17.9215 20 16.8036V8M4 8V7.2002C4 6.08009 4 5.51962 4.21799 5.0918C4.40973 4.71547 4.71547 4.40973 5.0918 4.21799C5.51962 4 6.08009 4 7.2002 4H8M20 8V7.19691C20 6.07899 20 5.5192 19.7822 5.0918C19.5905 4.71547 19.2837 4.40973 18.9074 4.21799C18.4796 4 17.9203 4 16.8002 4H16M8 4H16M8 4V2M16 4V2M15 12L11 16L9 14"
                  stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
         </g>
      </svg>
      <span>TimeSlot</span>
   </a>

   <!-- <a  routerLink="report" > -->
   <a (click)="navigateToReport()">
      <svg fill="#000000" width="40px" margin-left="50px" viewBox="0 0 32 32" version="1.1"
         xmlns="http://www.w3.org/2000/svg">
         <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
         <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
         </g>
         <g id="SVGRepo_iconCarrier">
            <title>report</title>
            <path d="M6 11h4v17h-4v-17zM22 16v12h4v-12h-4zM14 28h4v-24h-4v24z"></path>
         </g>
      </svg>
      <span>Report</span>
   </a>
   <!-- <a href="#">

      <span>Virtual Presentation</span>
   </a> -->

</div>