<app-navbar></app-navbar>
<app-judgesidenav></app-judgesidenav>


<div class="rectangle-5">
  <h2 class="timeslot">What's On?</h2>
</div>

<div class="join-btn">
 <a href="https://teams.microsoft.com/l/meetup-join/19%3ameeting_MWRkNjk5NTgtOTA2Zi00YTQ2LWJmMzktNTJmNjJkODJkMTgx%40thread.v2/0?context=%7b%22Tid%22%3a%223df74539-9453-4d03-bb9d-b9102cb9ce9c%22%2c%22Oid%22%3a%223387436b-8787-443b-94e2-ab04852a1471%22%7d"> <button class="join-btn-class">Join</button></a>
  <h3 class="txt-join">the <span>TVH</span> experience</h3>
</div>

<div class="img-disply">
  <img src="../../assets/download.jfif" alt="display IMAGE" class="img-disply">
</div>

